<h1>Tweets</h1>
<% @tweets.each do |tweet| %>
<div>
	<% unless tweet.tweet_id %>
		<% if tweet.open? %>
			<p>
				<%= link_to"#{tweet.user.username}", user_path(tweet.user.id) %>
			</p>
			<p>
				<%= link_to"#{tweet.body}", tweet_path(tweet.id) %><br>
				<% tweet.images.each do |image| %>
	  			<%= image_tag(image.url, size: "30x30") unless image.file.nil? %>
				<% end %>
				<% if user_signed_in? %>
				<% if current_user.id == tweet.user.id %>
				<%= link_to "Delete",
				tweet_path(tweet.id),
				method: :delete,
				data: {confirm:'Sure?'}
				%>	
				<% end %>
				<% end %>
				<%= tweet.created_at %>
			</p>
		<% end %>
	<% end %>
</div>
<% end %>
