<h1>New Tweet</h1>
<div>
	<%= form_for :tweet, url: tweets_path do |f| %>
	<div>
		<% if @tweet.errors.messages[:body].any? %>
			<%= @tweet.errors.messages[:body][0] %>
		<% end %>
		<%= f.text_area :body, 
		placeholder: "How are you doing now?",
		class: "form" 
    %>
	</div>
 	<div>
 		<%= f.radio_button :status, :open %>Public
 	</div>
 	<div>
 		<%= f.radio_button :status, :only_followers %>Followers
 	</div>
 	<div>
 		<%= f.radio_button :status, :only_me %>Private
 	</div>
	<div>
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>
	<p><%= f.submit %></p>
	<% end %>
</div>


