<h1>Edit User</h1>

<div>
	<%= form_for @user, url: user_path(@user) do |f| %>
	<div>
		<%= f.label :Profile %><br />
		<%= f.text_area :bio %>
	</div>
	<div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true %>
        <% if @user.errors.messages[:username].any? %>
			<%= @user.errors.messages[:username][0] %>
		<% end %>
    </div>
	<p><%= f.submit %></p>
	<% end %>
</div>


