<% if current_user.user_status == "normal" %>
	<h1><%= @user.username %></h1>
	<div class = "profile">
		<% unless current_user == @user %>
		  <% if current_user.already_followed?(@user) %>
		    <%= button_to 'Remove', user_relationship_path(@user), method: :delete, remote: true %>
		  <% else %>
			<%= button_to 'Follow', user_relationships_path(@user), remote: true %>
		  <% end %>

		  <% if current_user.already_reported?(@user) %>
			<%= button_to 'Cancell', user_account_suspension_path(@user), method: :delete %>
		  <% else %>
			<%= button_to 'Report', user_account_suspensions_path(@user) %>
		  <% end %>
		<% end %>	
		<h4>Profile</h4>
		<p>
			<%= @user.bio %>
			<% if @user == current_user %>
				<%= link_to"[Edit]", edit_user_path(@user) %>
			<% end %>
		</p>

		<h4>
			Follow:<%= @user.followings.count %>
		</h4>
		<h4>
			Follower:<%= @user.followers.count %>
		</h4>
	</div>
	<div>
		<h4>Tweets</h4>
		<% @tweets.each do |tweet| %>
			<% unless @user == current_user %>
				<% if @user.followers.include?(current_user) %>
					<% unless tweet.only_me? %>
						<div class = "user_tweet">
							<%= link_to"#{tweet.body}", tweet_path(tweet.id) %><br>
							<% tweet.images.each do |image| %>
　　　		  					<%= image_tag(image.url, size: "30x30") unless image.file.nil? %>
							<% end %>
							<%= tweet.created_at %>
						</div>
					<% end %>	
				<% else %>
					<% if tweet.open? %>
						<div class = "user_tweet">
							<%= link_to"#{tweet.body}", tweet_path(tweet.id) %><br>
							<% tweet.images.each do |image| %>
　　　		  					<%= image_tag(image.url, size: "30x30") unless image.file.nil? %>
							<% end %>
							<%= tweet.created_at %>
						</div>
					<% end %>	
				<% end %>	
			<% else %>
				<div class = "user_tweet">
					<%= link_to"#{tweet.body}", tweet_path(tweet.id) %><br>
					<% tweet.images.each do |image| %>
　　　		  			<%= image_tag(image.url, size: "30x30") unless image.file.nil? %>
					<% end %>
					<%= link_to "Delete",
						tweet_path(tweet.id),
						method: :delete,
						data: {confirm:'Sure?'}
					%>	
					<%= tweet.created_at %>
				</div>		
			<% end %>	
		<% end %>
	</div>
<% else %>
	<h2>Your account is suspended!</h2>
<% end %>
