<h1><%= @user.username %></h1>
<div>
	<% unless current_user == @user %>
	  <% if current_user.already_followed?(@user) %>
	    <%= button_to 'Remove', user_relationship_path(@user), method: :delete %>
	  <% else %>
		<%= button_to 'Follow', user_relationships_path(@user) %>
	  <% end %>
	<% end %>		
</div>

<h4>Profile</h4>
<p>
	<%= @user.bio %>
	<% if @user == current_user %>
		<%= link_to"[Edit]", edit_user_path(@user) %>
	<% end %>
</p>

<h4>
	Follow:<%= @user.followings.count %>
</h4>
<h4>
	Follower:<%= @user.followers.count %>
</h4>

<div>
	<h4>Tweets</h4>
	<ul>
		<% @user.tweets.each do |tweet| %>
			<% if @user == current_user %>
				<li>
					<%= link_to"#{tweet.body}", tweet_path(tweet.id) %>
					<%= tweet.created_at %>
				</li>
			<% elsif @user.followers.include?(current_user) %>
				<% unless tweet.only_me? %>
					<li>
						<%= link_to"#{tweet.body}", tweet_path(tweet.id) %>
						<%= tweet.created_at %>
					</li>
				<% end %>
			<% end %>
		<% end %>
	</ul>
		
</div>

